<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/celebrities">Celebrities list</a></li>
        <li><a href="/celebrities/new">Create celebrity</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
