<h1>Create celebrity</h1>

<form method="POST" action="/celebrities">

  <div class="field" >
    <label>Name</label>
    <input type="text" name="name"/>
  </div>

  <div class="field" >
    <label>Occupation</label>
    <input type="text" name="occupation"/>
  </div>

  <div class="field" >
    <label>Catch phrase</label>
    <input type="text" name="catchPhrase"/>
  </div>

  <div class="field submit">
    <button type="submit">Create celebrity</button>
  </div>
</form>